@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Reem+Kufi:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 263 70% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 263 70% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background:226, 57%, 12%, 1;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 263 70% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 263 70% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .card-border-light {
    border: 0.7px solid transparent;

    border-image: linear-gradient(180deg, #692bef 0%, #ffca64 100%) 1;

  }

  .dark .card-border-dark {
    border: 1px solid rgba(26, 106, 220, 1);
    border: 1px solid var(--buttons-stroke, rgba(26, 106, 220, 1));
  }
}

:root {
  --buttons-stroke: rgba(26, 106, 220, 1);
}

.footerbg{

  background: linear-gradient(180deg, rgba(247, 247, 247, 0.00) 0%, rgba(105, 43, 239, 0.20) 50.07%) !important;
  background-size:cover ;


  background-repeat: repeat;
}
.sun{
  background: linear-gradient(180deg, rgba(255, 189, 62, 1) 0.85%, rgb(233, 207, 148) 100%);

}


.almarai-light {
  font-family: "Almarai", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.almarai-regular {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.almarai-bold {
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.almarai-extrabold {
  font-family: "Almarai", sans-serif;
  font-weight: 800;
  font-style: normal;
}
body {
  font-family: "Almarai", sans-serif !important;

  background-size: cover !important;
  background-repeat: no-repeat;
  overflow-x: hidden;
}


.faded-edges {
  mask-image: linear-gradient(
    to left,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}
.faded-edges2 {
  mask-image: linear-gradient(
    to left,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}


.full-width {
  width: 100vw; /* or 100% if body has no margin */
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
